<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.cslg.common.dao.ApplyLecturerDao">
	
	<insert id="applyLecturer" parameterType="com.cslg.common.domain.ApplyLecturerDO" useGeneratedKeys="true" keyProperty="id">
		insert into apply_lecturer
		(
			`advantage`,
			`reason`,
			`user_id`,
			`username`,
			`apply_time`,
			`status`
		)
		values
		(
			#{advantage},
			#{reason},
			#{userId},
			#{username},
			#{applyTime},
			#{status}
		)
	</insert>
	
	<select id="queryApplyLecturerData" resultType="int">
		select count(*) from apply_lecturer where `user_id` = #{value}
	</select>
	
	<select id="getApplyLecturerByUserId" resultType="com.cslg.common.domain.ApplyLecturerDO">
		select * from apply_lecturer where `user_id` = #{value}
	</select>
	
</mapper>