<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>申请讲师</title>
<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon" />
<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
<link rel="stylesheet" th:href="@{/webjars/layui/2.4.5/css/layui.css}">
<script type="text/javascript" th:src="@{/webjars/layui/2.4.5/layui.js}"></script>
</head>
<body style="margin-top: 40px;">
<span id="id" style="display: none;" th:text="${id}"></span>
<form id="applyForm" class="layui-form" action="">
  <div class="layui-form-item">
    <label class="layui-form-label">状态</label>
    <div class="layui-input-block">
      <span id="id" style="display: none;" th:text="${userDO.id}"></span>
      <span id="status" style="display: none;" th:text="${userDO.status}"></span>
      <input type="radio" name="status" value=1 title="正常">
      <input type="radio" name="status" value=0 title="禁用" >
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit="" lay-filter="apply">立即修改</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
<script>
$(function () {
	//查询
	var status = $("#status").text();
	$("input:radio[name=status][value="+status+"]").attr("checked",true); 
	//修改
	layui.use('form', function(){
	    var form = layui.form; 
	    form.render();
	    
    	//监听提交
	    form.on('submit(apply)', function(data){
	    	var status = $('[name="status"]:checked').val();
		    $.ajax({
				url: "/lecturerUpdate",
				type: "POST",
	      		async: false,
	      		data: {"id":$("#id").text(),"status":status},
	      		success: function(data) {
	      			if(data.code == 0){
          				layer.msg(data.msg);
          				var index = parent.layer.getFrameIndex(window.name);
          				setTimeout(function(){parent.layer.close(index)}, 1000);  
            		}else {
            			layer.msg(data.msg);
            		}
	      		}
		  	})
		  	return false;
	  	});
	})
})
</script>
</body>
</html>